@model Allocat.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">*@
    <!-- Pixel Admin's stylesheets -->
    <link href="~/Assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/pages.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/pixel-admin.min.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/rtl.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/themes.css" rel="stylesheet" type="text/css">
    <style>
        #signin-demo {
            position: fixed;
            right: 0;
            bottom: 0;
            z-index: 10000;
            background: rgba(0, 0, 0, .6);
            padding: 6px;
            border-radius: 3px;
        }

            #signin-demo img {
                cursor: pointer;
                height: 40px;
            }

                #signin-demo img:hover {
                    opacity: .5;
                }

            #signin-demo div {
                color: #fff;
                font-size: 10px;
                font-weight: 600;
                padding-bottom: 6px;
            }
    </style>
</head>
<body class="theme-default page-signin">
    <div id="page-signin-bg">
        <div class="overlay"></div>
    </div>
    <div class="signin-container">

        <div class="signin-info">
            <a href="index.html" class="logo">
                <img src="~/Assets/image/logo.png" />
            </a>
            <!-- / .logo -->
            <div class="slogan">
                Simple. Straight. Powerful.
            </div>
            <!-- / .slogan -->
            <ul>
                <li><i class="fa fa-sitemap signin-icon"></i> Helpful To Doctors</li>
                <li><i class="fa fa-file-text-o signin-icon"></i> Bonus For Tissue Banks</li>
                <li><i class="fa fa-outdent signin-icon"></i> Easy User Interface</li>
                <li><i class="fa fa-heart signin-icon"></i> Saves Time And Money</li>
            </ul>
            <!-- / Info list -->
        </div>
        <!-- / Left side -->
        <!-- Right side -->
        <div class="signin-form">
            <div class="signin-text">
                <span>Sign In to your account</span>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true)

                <div class="form-group w-icon">
                    @Html.TextBoxFor(model => model.Username, new { @class = "form-control input-lg" })
                    @*@Html.EditorFor(model => model.Username)*@
                    <span class="fa fa-user signin-form-icon"></span>
                    @Html.ValidationMessageFor(model => model.Username)
                </div>

                <div class="form-group w-icon">
                    @Html.TextBoxFor(model => model.Password, new { @class = "form-control input-lg" })
                    <span class="fa fa-lock signin-form-icon"></span>
                    @Html.ValidationMessageFor(model => model.Password)
                </div>

                @*<div class="form-group">
                        @Html.LabelFor(model => model.RememberMe, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.RememberMe)

                            @Html.ValidationMessageFor(model => model.RememberMe)
                        </div>
                    </div>*@

                <div class="form-actions">
                    <input type="submit" value="Login" class="signin-btn bg-primary" />
                </div>
            }

            <div class="password-reset-form" id="password-reset-form">
                <div class="header">
                    <div class="signin-text">
                        <span>Password reset</span>
                        <div class="close">&times;</div>
                    </div>
                    <!-- / .signin-text -->
                </div>
                <!-- / .header -->
                <!-- Form -->
                <form action="index.html" id="password-reset-form_id">
                    <div class="form-group w-icon">
                        <input type="text" name="password_reset_email" id="p_email_id" class="form-control input-lg" placeholder="Enter your email">
                        <span class="fa fa-envelope signin-form-icon"></span>
                    </div>
                    <!-- / Email -->

                    <div class="form-actions">
                        <input type="submit" value="SEND PASSWORD RESET LINK" class="signin-btn bg-primary">
                    </div>
                    <!-- / .form-actions -->
                </form>
                <!-- / Form -->
            </div>
            <!-- / Password reset form -->
        </div>
        <!-- Right side -->
    </div>
    <!-- / Container -->

    <div class="not-a-member">
        Not a member? <a href="#">Sign up now</a>
    </div>
</body>
</html>
