
@{
    ViewBag.Title = "SubmitResponse";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";

}
<script src="~/Assets/js/customJs/TissueBank/TissueBankController.js"></script>
<script src="~/Assets/js/customJs/TissueBank/TissueBankService.js"></script>
<link href="~/Assets/css/trix.css" rel="stylesheet" />
<style>
    .circle {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        font-size: 18px;
        color: #fff;
        line-height: 30px;
        text-align: center;
        background: #5bc0de;
    }

    ul {
        list-style-type: none;
    }
</style>

<div ng-controller="RFQDetailController">
    @if (@ViewBag.user.InfoId != null)
    {
        <input type="hidden" for="RequestForQuoteId" id="RequestForQuoteId" value="@ViewBag.RequestForQuoteId" />
        <input type="hidden" for="TissueBankId" id="TissueBankId" value="@ViewBag.user.InfoId" />
        <input type="hidden" for="UserId" id="UserId" value="@ViewBag.user.UserId" />
        <input type="hidden" for="editMode" id="editMode" value="@ViewBag.editMode" />
    }
    else
    {
        <input type="hidden" for="ProductMasterId" id="ProductMasterId" value="" />
    }

    <div style="float:left">
        <a href="@Url.Action("Index", "RequestForQuote", new { Area = "TissueBank" })" style="text-decoration:underline"><i class="fa fa-arrow-left"></i>&nbsp; Back</a>
    </div><br /><br />
    <div class="panel">
        <div class="panel-body">
            <div class="modal-header">
                <h4 class="modal-title">Manage RFQ</h4>
            </div>
            <div class="modal-body">
                <form name="formSubmit" confirm-on-exit>
                    <input type="button" ng-click="editCancel()" class="pull-right btn btn-primary" ng-if="!editMode && RFQDetail.StatusName.indexOf('Declined')<0" value="Edit" />
                    <input type="button" ng-click="editCancel()" class="pull-right btn btn-danger" ng-if="editMode" value="Cancel" />
                    <h3 style="text-align:center;">RFQ</h3>

                    <div class="row">
                        <div class="left">
                            <ul><b>Submitted Date :</b> {{RFQDetail.CreatedDate | date : 'yyyy-MM-dd HH:mm:ss'}}</ul>
                            <ul><b>Last Modified Date :</b> {{RFQDetail.LastModifiedDate | date : 'yyyy-MM-dd HH:mm:ss'}}</ul>
                            <ul><b>RFQ ID :</b> {{RFQDetail.RequestForQuoteId}}</ul>
                        </div>
                        <div class="right">
                            <img src="~/Assets/image/logo.png" />
                        </div>
                    </div>
                    <!-- $PANEL_BODY ================================================================================ -->
                    <div class="panel colourable" id="tblist">
                        <div class="panel-body panel-padding">
                            <h4 style="margin-bottom:0px;"><b>From: </b></h4><br />
                            <p>XXX-XXX Hospital<br /> Address: XXXXX<br /> San Francisco</p>
                            <h4 style="text-align:center; color:#64bed8;">
                                STATUS:
                                <div class="warning-tag" ng-if="RFQDetail.StatusName == 'Sent to TissueBank'">
                                    Received
                                </div>
                                <div class="sucess-tag" ng-if="RFQDetail.StatusName == 'Sent to Hospital'">
                                    Sent
                                </div>
                                <div class="on-going-tag" ng-if="RFQDetail.StatusName == 'In-Negotiation'">
                                    In-Negotiation
                                </div>
                                <div class="closed-tag" ng-if="RFQDetail.StatusName == 'Declined By TissueBank'">
                                    Declined By TissueBank
                                </div>
                                <div class="closed-tag" ng-if="RFQDetail.StatusName == 'Declined By Hospital'">
                                    Declined By Hospital
                                </div>
                                <div class="closed-tag" ng-if="RFQDetail.StatusName == 'Declined By AllocatStaff'">
                                    Declined By AllocatStaff
                                </div>
                                <div class="sucess-tag" ng-if="RFQDetail.StatusName == 'Placed PR'">
                                    Closed<br />
                                    Placed PR
                                </div>
                                <div class="sucess-tag" ng-if="RFQDetail.StatusName == 'Placed PO'">
                                    Closed<br />
                                    Placed PO
                                </div>
                            </h4>
                        </div>
                    </div>

                    <p><b>Product Requested</b></p>
                    <div class="table-responsive table-primary">
                        <table class="table table-bordered table-hover" id="table">
                            <thead>
                                <tr>
                                    <th>Quantity</th>
                                    <th>TB Product Code</th>
                                    <th>Product Name</th>
                                    <th>Needed By Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{RFQDetail.Quantity}}</td>
                                    <td>{{RFQDetail.ProductCode}}</td>
                                    <td>{{RFQDetail.ProductMasterName}}</td>
                                    <td>{{RFQDetail.NeedByDate==null ? 'N/A' : RFQDetail.NeedByDate | date:'yyyy-MM-dd'}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>


                     <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <span class="glyphicon glyphicon-comment"></span> Clinical Question
                                </div>
                                <div class="c-body" style="max-height: 501px;overflow-y: auto;">
                                    <ul class="chat">
                                        <span ng-repeat="item in RequestResponses">
                                            <li class="left clearfix" ng-if="item.BodyType=='Request'" style="width:100%;text-align: left;">
                                                <span class="chat-img pull-left">
                                                    <div class="circle chat-img pull-left">{{item.Initial}}</div>
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <small class="pull-left text-muted">
                                                            <span class="glyphicon glyphicon-time"></span>{{item.LastModifiedDate | date : 'yyyy-MM-dd HH:mm:ss' }}
                                                        </small>
                                                    </div><br />
                                                    <p>
                                                        {{item.Body}}
                                                    </p>
                                                </div>
                                            </li>
                                            <li class="right clearfix" ng-if="item.BodyType=='Response'" style="width:100%;text-align: right;">
                                                <span class="chat-img pull-right">
                                                    <div class="circle chat-img pull-right">{{item.Initial}}</div>
                                                </span>
                                                <div class="chat-body clearfix">
                                                    <div class="header">
                                                        <small class="text-muted">
                                                            <span class="glyphicon glyphicon-time">
                                                            </span>{{item.LastModifiedDate | date : 'yyyy-MM-dd HH:mm:ss' }}
                                                        </small>
                                                    </div>
                                                    <p>
                                                        {{item.Body}}
                                                    </p>
                                                </div>
                                            </li>
                                        </span>
                                    </ul>


                                    @*<ul class="chat">
                                            <li ng-repeat="item in RequestResponses">
                                                <div class="left clearfix" ng-if="item.BodyType=='Request'" style="width:100%" ;padding-bottom:18px>
                                                    <div class="circle chat-img pull-left">{{item.Initial}}</div>
                                                    <div class="chat-body clearfix">
                                                        <div class="header">
                                                            <small class="pull-left text-muted">
                                                                <span class="glyphicon glyphicon-time"></span>{{item.LastModifiedDate | date : 'yyyy-MM-dd HH:mm:ss'}}
                                                            </small>
                                                        </div>
                                                        <p>
                                                            {{item.Body}}
                                                        </p>
                                                    </div>
                                                </div>

                                                <div class="right clearfix" ng-if="item.BodyType=='Response'" style="width:100%;padding-bottom:18px">
                                                    <div class="circle chat-img pull-right">{{item.Initial}}</div>
                                                    <div class="chat-body clearfix">
                                                        <div class="header">
                                                            <small class="pull-left text-muted">
                                                                <span class="glyphicon glyphicon-time"></span>{{item.LastModifiedDate | date : 'yyyy-MM-dd HH:mm:ss'}}
                                                            </small>
                                                        </div>
                                                        <p>
                                                            {{item.Body}}
                                                        </p>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="panel">
                    <div class="row" style="padding:10px">
                        <div class="col-md-12">
                            <div class="col-md-6" ng-if="!editMode">
                                &nbsp;
                            </div>
                            <div class="col-md-6" ng-if="editMode">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <span class="panel-title"><b>Reply</b></span>
                                    </div>
                                    <div class="panel-body">
                                        <trix-editor style="height: 176px;overflow: auto;" spellcheck="true" class="trix-content" ng-model="trix" angular-trix trix-initialize="trixInitialize(e, editor);" trix-change="trixChange(e, editor);" placeholder="Write something.."></trix-editor>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <span class="panel-title"><b>Pricing and Shipment</b></span>
                                    </div>
                                    <div class="panel-body">
                                        <div id="datepicker">
                                            <label>How soon can you ship this product? :</label>
                                            <label ng-if="!editMode">{{RFQDetail.TissueBankSendByDate==null ? 'N/A' : RFQDetail.TissueBankSendByDate | date:'yyyy-MM-dd'}}</label>
                                            <div ng-if="editMode" class="input-group date" id="bs-datepicker-component" >
                                                <input ng-model="RFQDetail.TissueBankSendByDate" datetime-picker="" date-format="yyyy-MM-dd" close-on-select="false" size="30" class="ng-pristine ng-valid ng-valid-date ng-touched">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <label>Unit Price :</label>
                                            $<label ng-if="!editMode">{{RFQDetail.UnitPrice==null ? 'N/A' : RFQDetail.UnitPrice}}</label>
                                            <input type="number" ng-if="editMode" ng-change="CalculateTotal()" ng-model="RFQDetail.UnitPrice" />
                                            <br /><label>Line Total :</label>
                                            <label> {{RFQDetail.LineTotal==null ? 'N/A' : RFQDetail.LineTotal}}</label>
                                            <br /><label>Sales Tax :</label>
                                            <label> {{RFQDetail.SalesTax==null ? 'N/A' : RFQDetail.SalesTax}}</label>
                                            <br /><label>Total Amount :</label>
                                            <label> {{RFQDetail.Total==null ? 'N/A' : RFQDetail.Total}}</label>
                                        </div>
                                        <div class="col-md-12">
                                            <label>Shipping Method :</label>

                                            <label ng-if="!editMode">{{RFQDetail.ShippingMethod==null ? 'N/A' : RFQDetail.ShippingMethod}}</label>
                                            <input ng-if="editMode" type="text" ng-model="RFQDetail.ShippingMethod" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>

                    <div class="col-md-12" ng-if="RFQDetail.StatusName.indexOf('Declined')<0">
                        <div class="col-md-6">
                            &nbsp;
                        </div>
                        <div class="col-md-6">
                            <button type="submit" ng-click="submitResponse()" ng-if="editMode" class="btn btn-flat" style="margin-right:30px; background-color:#5c5d5f; color:#ffffff;">Submit Response</button>
                            <button type="button" ng-if="!editMode" data-toggle="modal" data-target="#modal-remark" class="btn btn-flat" id="btn" style="background-color:#5c5d5f; color:#ffffff;">Decline RFQ</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="notifies" notifybar></div>
    <div id="modal-remark" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Decline RFQ</h4>
                </div>
                <div class="modal-body">
                    <form name="formDecline">
                        Please enter remark for declining RFQ.
                        <br />
                        <textarea required style="width: 100%;" ng-model="RFQDetail.DeclineRemark" id="Remark"></textarea>
                        <br />
                        <button type="submit" ng-click="declineRFQ()" class="btn btn-primary">Decline RFQ</button>
                        <button type="button" data-dismiss="modal" aria-hidden="true" class="btn btn-danger">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
